.speciesDisplay {
  text-align: center;
  padding: 2em;
}

.speciesDisplay button {
  padding: 0.5em;
}
.speciesNameField {
  width: 100%;
}

.speciesNameField input {
  font-size: 120%;
  width: 100%;
}

.speciesList .speciesCard {
  display: inline-block;
  width: 20em;
  vertical-align: top;
  text-align: left;
  padding: 0.5em;
}

.speciesCard h3 {
  text-align: center;
}

.traitSelectors .traitValueSelector {
  display: inline-block;
  width: 20em;
  vertical-align: top;
}

.traitValueSelector .traitName {
  font-size: 120%;
  padding: 0.5em;
}

.traitValueSelector .traitValueCheckbox {
  font-size: 80%;
  float: top;
}
