.Cart {
  padding-left: 1.5em;
  padding-top: 1em;
}

.Cart .DownloadButton {
  padding-left: 0.25em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.CartItem .name {
  padding: 0.5em 0.25em 0.5em 0.25em;
  font-style: italic;
}

.CartItem button {
  float: right;
}

.CartItem .name:hover {
  background-color: #CCFFCC;
}
