* {
  box-sizing: border-box;
}

.ReactTabs__TabPanel {
  margin-top: -10px;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  min-height: 75vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  width: 80%;
  margin: auto;
}

.Home, .TraitInfo, .Search {
  display: flex;
}

.column {
  padding: 0.5em;
}

.selected,.expanded {
  background-color: #99CC99;
}

.selected:hover,.expanded:hover {
    background-color: #CCFFCC;
}

.collapsed:hover {
    background-color: #CCFFCC;
}

.Home .column:first-child, .TraitInfo .column:first-child {
  width: 40%;
}

.Image img {
  width: 100%;
}
