.Search {
  overflow-wrap: true;
}

.SearchForm input {
  margin-bottom: 1em;
}

.Search .column:first-child {
  width: 30%;
}

.Search .column {
  width: 70%;
}
.SearchResults .SearchResult {
  width: 100%;
}

.TraitCheckbox {
  padding: 0.2em 0.5em 0.2em 1.5em;
}

.TraitCheckbox:hover {
  background-color: #CCFFCC;
}

.TraitList {
  margin-left: 1.5em;
}

.TraitList tr td {
  font-weight: bold;
}
.TraitList tr td:first-child {
  font-weight: normal;
}

.SearchResult .name {
  padding: 0.5em 0.25em 0.5em 0.25em;
}

.SearchResult button {
  float: right;
}
